<section class="container-scroller">
  <div class="container-fluid page-body-wrapper">

    {{>admin-sidebar}}
    <div class="container pt-5">
      <div class="d-flex mt-5 justify-content-center">
        <div class="col-lg-8 mt-5 rounded-2 shadow-lg grid-margin stretch-card" style="border-radius: 25px !important;">
          <div class="contents order-2 order-md-1">
            <div class="container">
              <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                  <div class="text-center mb-5">
                    <h3>Add <strong>New Product</strong></h3>
                  </div>
                  <form action="/admin/admin-addproduct" onsubmit="return validationaddressplace()" method="POST"
                    enctype="multipart/form-data" style="padding-top: 40px;" id="add-prod">
                    {{#if productExist}}
                    <div class="alert alert-danger" role="alert">
                      This product is already exist!
                    </div>
                    {{/if}}
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputName">Product Name</label>
                        <input type="text" class="form-control" id="inputName" name="name" placeholder="Product name">
                        <p id="product" class="text text-danger"></p>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="brand">Brand</label>
                        <select name="brand" id="brand" class="custom-select p-2">
                          <option value="" selected>Choose a Brand</option>
                          {{#each brand}}
                          <option value="{{this.name}}">{{this.name}}</option>
                          {{/each}}
                        </select>
                        {{#if catErrPro}}
                        <p class="text-center text-danger">{{catErrPro}}</p>
                        {{/if}}
                        <p id="brandone" class="text text-danger"></p>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="category">Category</label>
                        <select name="catagaries" id="categorys" class="custom-select p-2">
                          <option value="" selected>Choose a Category</option>
                          <p id="categoryone" class="text text-danger"></p>
                          {{#each catagory}}
                          <option value="{{this.name}}">{{this.name}}</option>
                          {{/each}}
                          <p id="categoryone" class="text text-danger"></p>
                        </select>
                        {{#if catErrPro}}
                        <p class="text-center text-danger">{{catErrPro}}</p>
                        {{/if}}
                      </div>
                      {{#if catErrPro}}
                      <p class="text-center text-danger">{{catErrPro}}</p>
                      {{/if}}
                      <div class="form-group col-md-6">
                        <label for="inputCost">Sub Catagory</label>
                        <input type="text" class="form-control" onkeydown="return event.keyCode !== 69" id="subcategory"
                          placeholder="Sub catagory" name="subcatagory">
                        <p id="subcategoryone" class="text text-danger"></p>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputPrice">Price</label>
                        <input type="number" class="form-control" onkeydown="return event.keyCode !== 69" id="Price"
                          placeholder="Price" name="price">
                        <p id="Priceone" class="text text-danger"></p>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputStock">Stock</label>
                        <input type="number" class="form-control" onkeydown="return event.keyCode !== 69"
                          id="inputStock" placeholder="Stock" name="stock">
                        <p id="stockone" class="text text-danger"></p>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputPrice">Fabric</label>
                        <input type="text" class="form-control" onkeydown="return event.keyCode !== 69" id="fabric"
                          placeholder="Fabric" name="fabric">
                        <p id="fabrione" class="text text-danger"></p>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputStock">Pack Of</label>
                        <input type="text" class="form-control" onkeydown="return event.keyCode !== 69" id="inputpackof"
                          placeholder="Packof" name="packof">
                        <p id="packof" class="text text-danger"></p>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputPrice">Colour</label>
                        <input type="text" class="form-control" onkeydown="return event.keyCode !== 69" id="color"
                          placeholder="colour" name="color">
                        <p id="colorone" class="text text-danger"></p>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputStock">Size</label>
                        <input type="text" class="form-control" onkeydown="return event.keyCode !== 69" id="size"
                          placeholder="Size" name="size">
                        <p id="sizeone" class="text text-danger"></p>
                      </div>
                    </div>
                    <div class="row">
                      <div id="image-box1" style="width: 300px; height: 300px; display: none;">
                      </div>
                      <div>
                        <button class="btn btn-primary mt-3" type="button" style="display: none;"
                          id="crop-btn1">Done</button>
                      </div>
                      <div class="mt-5 col-md-6">
                        <label for="">IMAGE 1</label>
                        <img src="" alt="" style="width: 100px; height:auto" id="imgview1">
                        <input type="file" name="image1" id="file1" class="form-control"
                          onchange="return fileValidation1()">
                        <p id="img1" class="text text-danger"></p>
                      </div>
                      <div class="mt-5 col-md-6">
                        <label for="">IMAGE 2</label>
                        <img src="" alt="" style="width: 100px; height:auto" id="imgview2">
                        <input type="file" name="image2" id="file2" class="form-control"
                          onchange="return fileValidation2()">
                        <p id="img2" class="text text-danger"></p>
                      </div>
                      <div class="mt-5 col-md-6">
                        <label for="">IMAGE 3</label>
                        <img src="" alt="" style="width: 100px; height:auto" id="imgview3">
                        <input type="file" name="image3" id="file3" class="form-control"
                          onchange="return fileValidation3()">
                        <p id="img3" class="text text-danger"></p>
                      </div>
                      <div class="mt-5 col-md-6">
                        <label for="">IMAGE 4</label>
                        <img src="" alt="" style="width: 100px; height:auto" id="imgview4">
                        <input type="file" name="image4" id="file4" class="form-control"
                          onchange="return fileValidation4()">
                        <p id="img4" class="text text-danger"></p>
                      </div>
                    </div>
                    <center>
                      <button id="confirm-btn1" type="submit" class="btn btn-primary mt-5">Add
                        Product</button><br>
                    </center>
                    <p class="text-danger text-center" style="display: none;" id="errMsg">Only Image is
                      Accepted</p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  //Cropper js function
  function fileValidation1() {
    const imagebox = document.getElementById('image-box1')
    const crop_btn = document.getElementById('crop-btn1')
    var fileInput = document.getElementById('file1');
    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if (!allowedExtensions.exec(filePath)) {
      fileInput.value = '';
      Swal.fire('Upload image only')
      return false;
    } else {
      //Image preview
      const img_data = fileInput.files[0]
      const url = URL.createObjectURL(img_data)
      imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
      const image = document.getElementById('image')
      document.getElementById('image-box1').style.display = 'block'
      document.getElementById('crop-btn1').style.display = 'block'
      document.getElementById('confirm-btn1').style.display = 'none'

      const cropper = new Cropper(image, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 16 / 19,
        //  preview: '.preview',
        minCropBoxWidth: 180,
        minCropBoxHeight: 240,
      })
      crop_btn.addEventListener('click', () => {
        cropper.getCroppedCanvas().toBlob((blob) => {
          let fileInputElement = document.getElementById('file1');
          let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
          let container = new DataTransfer();

          container.items.add(file);
          const img = container.files[0]
          var url = URL.createObjectURL(img)
          fileInputElement.files = container.files;
          document.getElementById('imgview1').src = url
          document.getElementById('image-box1').style.display = 'none'
          document.getElementById('crop-btn1').style.display = 'none'
          document.getElementById('confirm-btn1').style.display = 'block'
        }, 'image/webp', 0.5);
      });
    }
  }
  function fileValidation2() {
    const imagebox = document.getElementById('image-box1')
    const crop_btn = document.getElementById('crop-btn1')
    var fileInput = document.getElementById('file2');

    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if (!allowedExtensions.exec(filePath)) {
      Swal.fire('Upload image only')
      fileInput.value = '';
      return false;
    } else {
      //Image preview
      const img_data = fileInput.files[0]
      const url = URL.createObjectURL(img_data)
      imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
      const image = document.getElementById('image')
      document.getElementById('image-box1').style.display = 'block'
      document.getElementById('crop-btn1').style.display = 'block'
      document.getElementById('confirm-btn1').style.display = 'none'

      const cropper = new Cropper(image, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 16 / 19,
        //  preview: '.preview',
        minCropBoxWidth: 180,
        minCropBoxHeight: 240,
      })
      crop_btn.addEventListener('click', () => {
        cropper.getCroppedCanvas().toBlob((blob) => {
          let fileInputElement = document.getElementById('file2');
          let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
          let container = new DataTransfer();

          container.items.add(file);
          const img = container.files[0]
          var url = URL.createObjectURL(img)
          fileInputElement.files = container.files;
          document.getElementById('imgview2').src = url
          document.getElementById('image-box1').style.display = 'none'
          document.getElementById('crop-btn1').style.display = 'none'
          document.getElementById('confirm-btn1').style.display = 'block'
        }, 'image/webp', 0.5);
      });
    }
  }
  function fileValidation3() {
    const imagebox = document.getElementById('image-box1')
    const crop_btn = document.getElementById('crop-btn1')
    var fileInput = document.getElementById('file3');

    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if (!allowedExtensions.exec(filePath)) {
      Swal.fire('Upload image only')
      fileInput.value = '';
      return false;
    } else {
      //Image preview
      const img_data = fileInput.files[0]
      const url = URL.createObjectURL(img_data)
      imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
      const image = document.getElementById('image')
      document.getElementById('image-box1').style.display = 'block'
      document.getElementById('crop-btn1').style.display = 'block'
      document.getElementById('confirm-btn1').style.display = 'none'

      const cropper = new Cropper(image, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 16 / 19,
        //  preview: '.preview',
        minCropBoxWidth: 180,
        minCropBoxHeight: 240,
      })
      crop_btn.addEventListener('click', () => {
        cropper.getCroppedCanvas().toBlob((blob) => {
          let fileInputElement = document.getElementById('file3');
          let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
          let container = new DataTransfer();

          container.items.add(file);
          const img = container.files[0]
          var url = URL.createObjectURL(img)
          fileInputElement.files = container.files;
          document.getElementById('imgview3').src = url
          document.getElementById('image-box1').style.display = 'none'
          document.getElementById('crop-btn1').style.display = 'none'
          document.getElementById('confirm-btn1').style.display = 'block'
        }, 'image/webp', 0.5);
      });
    }
  }
  function fileValidation4() {
    const imagebox = document.getElementById('image-box1')
    const crop_btn = document.getElementById('crop-btn1')
    var fileInput = document.getElementById('file4');

    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if (!allowedExtensions.exec(filePath)) {
      Swal.fire('Upload image only')
      fileInput.value = '';
      return false;
    } else {
      //Image preview
      const img_data = fileInput.files[0]
      const url = URL.createObjectURL(img_data)
      imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
      const image = document.getElementById('image')
      document.getElementById('image-box1').style.display = 'block'
      document.getElementById('crop-btn1').style.display = 'block'
      document.getElementById('confirm-btn1').style.display = 'none'

      const cropper = new Cropper(image, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 16 / 19,
        //  preview: '.preview',
        minCropBoxWidth: 180,
        minCropBoxHeight: 240,
      })
      crop_btn.addEventListener('click', () => {
        cropper.getCroppedCanvas().toBlob((blob) => {
          let fileInputElement = document.getElementById('file4');
          let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
          let container = new DataTransfer();

          container.items.add(file);
          const img = container.files[0]
          var url = URL.createObjectURL(img)
          fileInputElement.files = container.files;
          document.getElementById('imgview4').src = url
          document.getElementById('image-box1').style.display = 'none'
          document.getElementById('crop-btn1').style.display = 'none'
          document.getElementById('confirm-btn1').style.display = 'block'
        }, 'image/webp', 0.5);
      });
    }
  }
</script>



<script src=" https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>



<script>
  function validationaddressplace() {
    var name = document.getElementById("inputName").value;
    var brand = document.getElementById("brand").value;
    var category = document.getElementById("categorys").value;
    var subcategory = document.getElementById("subcategory").value;
    var Price = document.getElementById("Price").value;
    var stock = document.getElementById("inputStock").value;
    var fabric = document.getElementById("fabric").value;
    var packof = document.getElementById("inputpackof").value;
    var color = document.getElementById("color").value;
    var size = document.getElementById("size").value;
    var image1 = document.getElementById("file1").value
    var image2 = document.getElementById("file2").value
    var image3 = document.getElementById("file3").value
    var image4 = document.getElementById("file4").value

    if (name == "") {
      document.getElementById("product").innerHTML =
        "Please enter product name";
      return false;
    }
    if (!isNaN(name)) {
      document.getElementById("product").innerHTML =
        " Enter the valid characters";
      return false;
    }
    if (brand == "") {
      document.getElementById("brandone").innerHTML =
        " Please  select brand";
      return false;
    }
    if (brand.length <= 2 || brand.length > 20) {
      document.getElementById("brandone").innerHTML =
        "Please enter more than 2 characters and shorter than 20 characters";
      return false;
    }
    if (!isNaN(brand)) {
      document.getElementById("brandone").innerHTML =
        " Only enter characters";
      return false;
    }

    if (category == "") {
      document.getElementById("categoryone").innerHTML =
        " Please select the catagory";
      return false;
    }

    if (!isNaN(category)) {
      document.getElementById("categoryone").innerHTML =
        " Only enter characters";
      return false;
    }



    if (subcategory == "") {
      document.getElementById("subcategoryone").innerHTML =
        " Please Enter Subcatagory";
      return false;
    }
    if (!isNaN(subcategory)) {
      document.getElementById("subcategoryone").innerHTML =
        " Only enter characters";
      return false;
    }


    if (Price == "") {
      document.getElementById("Priceone").innerHTML =
        " Please Enter price";
      return false;
    }
    if (isNaN(Price)) {
      document.getElementById("Priceone").innerHTML =
        " Only enter characters";
      return false;
    }


    if (stock == "") {
      document.getElementById("stockone").innerHTML =
        " Please Enter stock";
      return false;
    }

    if (isNaN(stock)) {
      document.getElementById("stockone").innerHTML =
        " Only enter characters";
      return false;
    }



    if (fabric == "") {
      document.getElementById("fabrione").innerHTML =
        "Please enter  fabric";
      return false;
    }
    if (fabric.length <= 2 || fabric.length > 20) {
      document.getElementById("fabrione").innerHTML =
        " The length is to short ";
      return false;
    }
    if (!isNaN(fabric)) {
      document.getElementById("fabrione").innerHTML =
        " Enter the valid characters";
      return false;
    }


    if (packof == "") {
      document.getElementById("packof").innerHTML =
        "Please enter pack";
      return false;
    }
    if (isNaN(packof)) {
      document.getElementById("packof").innerHTML =
        " Enter the valid characters";
      return false;
    }


    if (color == "") {
      document.getElementById("colorone").innerHTML =
        "Please enter colour";
      return false;
    }
    if (color.length <= 2 || color.length > 20) {
      document.getElementById("colorone").innerHTML =
        " The length is to short ";
      return false;
    }
    if (!isNaN(color)) {
      document.getElementById("colorone").innerHTML =
        " Enter the valid characters";
      return false;
    }


    if (size == "") {
      document.getElementById("sizeone").innerHTML =
        "Please enter the size";
      return false;
    }
    if (isNaN(size)) {
      document.getElementById("sizeone").innerHTML =
        " Enter the valid characters";
      return false;
    }
    if (image1 == "") {
      document.getElementById("img1").innerHTML =
        "Please uplod image";
      return false;
    }
    if (image2 == "") {
      document.getElementById("img2").innerHTML =
        "Please uplod image";
      return false;
    }
    if (image3 == "") {
      document.getElementById("img3").innerHTML =
        "Please uplod image";
      return false;
    }
    if (image4 == "") {
      document.getElementById("img4").innerHTML =
        "Please uplod image";
      return false;
    }

  }
</script>